node_modules/
__pycache__/
env.py
Client/clientPacketsByClient
Client/serverPacketsByClient
.idea
Client/pickle/clientPackets_FTP
Client/clientPackets_html
Client/clientPacketsByClient1
Client/pickle/clientPackets_html
Client/pickle/clientPackets_video
Client/pickle/serverPackets_FTP
Client/pickle/clientPackets_html
Client/pickle/serverPackets_html
